<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.prajwal-prashanth.machotkey</string>
    
    <key>CFBundleName</key>
    <string>Machotkey</string>
    
    <key>CFBundleDisplayName</key>
    <string>Machotkey</string>
    
    <key>CFBundleExecutable</key>
    <string>Machotkey</string>
    
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    
    <key>CFBundleSignature</key>
    <string>????</string>
    
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    
    <key>CFBundleIconFile</key>
    <string>machotkey</string>
    
    <key>NSHighResolutionCapable</key>
    <true/>
    
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>

    <key>NSAppSleepDisabled</key>
    <true/>
    
    <key>NSScreenCaptureUsageDescription</key>
    <string>Machotkey needs screen capture access for macros that require it.</string>
    
    <key>NSAccessibilityUsageDescription</key>
    <string>Machotkey needs accessibility access to simulate keyboard and mouse input for macros that require it.</string>
    
    <key>LSArchitecturePriority</key>
    <array>
        <string>arm64</string>
    </array>
    
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    
    <key>CSResourcesFileMapped</key>
    <true/>
    
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Prajwal Prashanth. All rights reserved.</string>
</dict>
</plist>